name: ci

on:
  push: ~
  pull_request: ~
  workflow_dispatch: ~

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-python@v1
        with:
          python-version: '3.14'
      - run: just install lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-python@v1
        with:
          python-version: '3.14'
      - run: just install coverage
  coverage:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: justintime50/composite-actions/bootstrap-python@v1
        with:
          python-version: '3.14'
      - run: just install coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
